# Hypothesis Testing

In [1]:
import pandas as pd

# Q1

In [2]:
df1 = pd.read_csv("D:\YUKTA\Assignment\DS\Hypothesis Testing\Cutlets.csv")

In [3]:
df1.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

To determine whether there is any significant difference in the diameter of the cutlet between two units.

H0: There is no significant difference between the diameter of cutlet of two units. i.e. mean(UnitA)=mean(UnitB)

H1: There is significant difference between the diameter of cutlet of two units.

**Using two sample z-test to check the significant difference between the means of two different groups.**

In [5]:
from scipy import stats

In [8]:
alpha = 0.05
zcal, pval = stats.ttest_ind(df1['Unit A'],df1['Unit B'])

print('z_value = ',zcal)
print('p_value = ',pval)
print('alpha = ', alpha)

z_value =  0.7228688704678063
p_value =  0.4722394724599501
alpha =  0.05

In [9]:
if pval < alpha:
    print('Reject H0 in favour of H1')
    print('There is no significant difference between the diameter of cutlet of two units')
else:
    print('Accept H0')
    print('There is significant difference between the diameter of cutlet of two units.')

Accept H0
There is significant difference between the diameter of cutlet of two units.

**Since p_value > alpha**

**There is significant difference between the diameter of cutlet of two units.**

# Q2

In [10]:
df2 = pd.read_csv("D:\YUKTA\Assignment\DS\Hypothesis Testing\LabTAT.csv")

In [17]:
print(df2.head())

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

 Laboratory 1    120
Laboratory 2    120
Laboratory 3    120
Laboratory 4    120
dtype: int64

To determine whether there is any difference in average TAT among the different laboratories at 5% significance level

H0: There is no significant difference between the average TAT among the different laboratories.

H1: There is significant difference between the average TAT among the different laboratories.

**Using one way ANOVA test to check significant difference between the means of more than three groups**

In [21]:
alpha = 0.05
f_statistic, p_value = stats.f_oneway(df2['Laboratory 1'],df2['Laboratory 2'],df2['Laboratory 3'],df2['Laboratory 4'])

print(f'F-statistic: {f_statistic}')
print(f'P-value: {p_value}')
print(f'alpha: {alpha}')

F-statistic: 118.70421654401437
P-value: 2.1156708949992414e-57
alpha: 0.05

In [22]:
if p_value < alpha:
    print('Reject H0 in favour of H1')
    print('There is no significant difference between the average TAT among the different laboratories.')
else:
    print('Accept H0')
    print('There is significant difference between the average TAT among the different laboratories.')

Reject H0 in favour of H1
There is no significant difference between the average TAT among the different laboratories.

**Since p_value < 0.05**

**There is no significant difference between the average TAT among the different laboratories.**

# Q3

In [24]:
df3 = pd.read_csv("D:\YUKTA\Assignment\DS\Hypothesis Testing\BuyerRatio.csv")

In [26]:
print(df3.head())
print('\n',df3.info())

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Observed Values  2 non-null      object
 1   East             2 non-null      int64
 2   West             2 non-null      int64
 3   North            2 non-null      int64
 4   South            2 non-null      int64
dtypes: int64(4), object(1)
memory usage: 208.0+ bytes

 None

Hypothesis to be tested is

H0: All proportions are equal

H1: Not all proportions are equal

**Using Chi-squared test for independence**

In [ ]:
from scipy.stats import chi2_contingency
import numpy as np

In [43]:
male_counts = np.array([50, 142, 131, 70])
female_counts = np.array([435, 1523, 1356, 750])

observed_counts = np.array([male_counts, female_counts])

Chi-squared statistic: 1.595945538661058
P-value: 0.6603094907091882
Fail to reject the null hypothesis: There is no significant difference in proportions.

In [44]:
# Perform chi-squared test for independence
alpha = 0.05
chi2_stat, p_value, _, _ = chi2_contingency(observed_counts)

print(f"Chi-squared statistic: {chi2_stat}")
print(f"P-value: {p_value}")
print(f"alpha: {alpha}")

Chi-squared statistic: 1.595945538661058
P-value: 0.6603094907091882
alpha: 0.05

In [46]:
if p_value < alpha:
    print("Reject the null hypothesis: There is a significant difference in proportions.")
else:
    print("Fail to reject the null hypothesis: There is no significant difference in proportions.")

Fail to reject the null hypothesis: There is no significant difference in proportions.

**Since p_value > alpha**

**Therefore, male-female buyer rations are similar across regions**

# Q4

In [2]:
df4 = pd.read_csv("D:\YUKTA\Assignment\DS\Hypothesis Testing\Costomer+OrderForm.csv")

In [3]:
print(df4.head())
print('\n',df4.info())

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Phillippines  300 non-null    object
 1   Indonesia     300 non-null    object
 2   Malta         300 non-null    object
 3   India         300 non-null    object
dtypes: object(4)
memory usage: 9.5+ KB

 None

Hypothesis to be tested is:

H0: The percentage of defective orders formed is the same across all centers.

H1: The percentage of defective orders formed is different for altleast one center.

In this case, we can use a **chi-squared test** for independence to analyze whether the defective percentage varies by center. 
This test is appropriate when we have **categorical data** and want to investigate if there is an association between two categorical variables

In [10]:
contingency_table = pd.crosstab(df4['Phillippines'],[df4['Indonesia'],df4['Malta'],df4['India']])

In [12]:
from scipy.stats import chi2_contingency

In [14]:
alpha = 0.05
chi2,p,_,_= chi2_contingency(contingency_table)

In [16]:
print(f"Chi-squared statistic: {chi2}")
print(f"P-value: {p}")
print(f"alpha: {alpha}")

Chi-squared statistic: 3.1001395592512266
P-value: 0.6845505149379718
alpha: 0.05

In [17]:
if p < alpha:
    print('Reject the null hypothesis')
    print('There is evidence that the defective percentage varies by center')
else:
    print('Fail to reject null hypothesis')
    print('There is not enough evidence to suggest a difference in defective percentages')

Fail to reject null hypothesis
There is not enough evidence to suggest a difference in defective percentages

**Since p_value > 0.05**
**We can conclude that, The percentage of defective orders formed is the same across all centers.**